# See https://help.github.com/articles/ignoring-files/ for more about ignoring
# files.

# Dependencies & Packages managers
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Testing
/coverage
# Local testing
*.tgz
/.yalc/
yalc.lock

# Next.JS
/.next/
/analyze/
next-env.d.ts

# Production
/build/
/out/
/dist/

# Misc
.DS_Store
*.bak
**/tmp
**/.tmp
**/temp
**/.temp
knip.md
# Files from the VSCode "SQLTools" extensions.
*.session.sql

# Secrets
.env*
*.pem

# Debug & logs
**/logs/
*.log*
npm-*.log*
yarn-*.log*
.pnpm-*.log*
*.tsbuildinfo*
vite.config.ts.timestamp*

# Vercel
/.vercel/

# Supabase.
/supabase/data*.sql

# IDE
/.idea/
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vscode/**
# Let's keep the extensions.json file because it references all the recommended
# extensions for this workspace. That way, newcomers will receive suggestions.
!.vscode/extensions.json
# Also keeps this workspace's specific settings file
!.vscode/settings.json
.vercel
.env*.local
